html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -61px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #ecf0f1;
}

.no-top-margin {
    margin-top: 0 !important;
}
.vmiddle {
    vertical-align: middle !important;
}
.custom-border tr td {
    border-top: none !important;
    border-right:1px solid #dddddd;
}
.custom-border tr td:last-child {
    border-right:none !important;
}
.refresh-icon {
    transform:scale(2.0,2.0);
    -ms-transform:scale(2.0,2.0); /* IE 9 */
    -moz-transform:scale(2.0,2.0); /* Firefox */
    -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
    -o-transform:scale(2.0,2.0); /* Opera */
    margin-left: 10px;
}
.container .text-muted {
    margin: 20px 0;
}
.container-header {
    margin-left: 5px;
    margin-top: 5px;
}

.website_ico {
    max-height: 126px !important;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

.website-container {
    padding-bottom: 10px;
    height: 230px;
    max-height: 230px;
}

.item {
    margin-bottom: 5px;
}

td.cell-link a {
    display: block; width: 100%; height: 100%;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-bottom: 1px solid #dddddd;
}
table tr:last-child td {
    border-bottom:0;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.navbar .dropdown-toggle .badge {
    background-color: #e99002;
    border-radius: 99px!important;
    font-size: 12px!important;
    font-weight: 300;
    height: 16px;
    padding: 2px 6px;
    position: absolute;
    right: 20px;
    text-align: center;
    text-shadow: none!important;
    top: 8px;
}

.dropdown-menu .dropdown-title {
    background: none repeat scroll 0 0 #006687;
    color: #fff;
    display: block;
    font-weight: 600;
    line-height: 30px;
    padding: 5px 10px;
}
.dropdown-menu {
    background-color: #f4f4f4;
}

.dropdown-menu.inbox {
    width: 300px;
}

.dropdown-menu {
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #c7cbd5 !important;
    display: none;
    float: left;
    left: 0;
    font-size: 14px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu .footer a {
    background-color: #bbbbbb !important;
    font-weight: 600;
    text-align: center;
    border-bottom: none!important;
    border-top: none!important;
}

.dropdown-menu li a {
    background-color: #f4f4f4 !important;
    border-bottom: 1px solid #fff !important;
    border-top: 1px solid #e7e7e7 !important;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    color: #333 !important;
}

.dropdown-menu li a:hover {
    background-color: #fff !important;
}

.dropdown-menu.inbox .body {
    position: relative;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    white-space: normal;
    margin: 5px 0;
}

.dropdown-menu.inbox .from {
    display: inline-block;
    line-height: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.dropdown-menu.inbox .message {
    line-height: 16px;
    display: block;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.dropdown-menu.inbox .time {
    color: #777;
    display: block;
    font-size: 12px;
}

/** INBOX **/
a.mail-link {
	color: #222222;
}
a.mail-link:hover {
	text-decoration: none;
}
.input-group[class*="col-"] {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.width40pers { width: 40% !important; }
.width30pers { width: 30% !important; }

.navbar
{
    position: fixed;
    z-index: 99;
    width: 100%;
}

.divclr10
{
    margin-top: 10px;
}