.chat {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 350px;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
    margin-right: 10px;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
}
.circle .user {
    position: absolute;
    top:13px;
    left:17px;
}
.owner { background-color: #55C1E7; }
.sender { background-color: #FA6F57; }

.owner-icon { color: #fff; }